RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/(.+)$ /api/index.php
RewriteRule ^public/(.*)$ /front/public/$1

RewriteRule ^$ /front/
RewriteRule ^(app|lib|css|img)(.*)$ /front/$1/$2
