<div class="">
  <div class="jumbotron text-center">
    <img src="/img/logo.png" class="img-responsive img-rounded display-initial" alt="logo">
    <h1>
      Recarga Mult Ajuda
    </h1>
    <p>Empresa de Recarga Mult Ajuda</p>
  </div>

  <div class="container-fluid">
  <div class="col-sm-4" ng-hide="ctrl.loginControl.isLogged">
    <div class=" well well-sm card">

      <div class="card-header">
        <h4 class="card-title">Faça parte você também!</h4>
      </div>

       <div class="card-block">
      <p class="card-title">
        Cadastra-se ou entre na sua conta para melhor usar os recursos do sistema!
      </p>
    </div>

      <div class="card-block text-center">
        <div class="btn-group">
          <a class="btn btn-success" ui-sref="login.logar">Logar</a>
          <a class="btn btn-primary" ui-sref="login.cadastrar">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well well-sm card">
      <div class="card-header">
        <h4 class="card-title">Sobre a empresa</h4>
      </div>
      <div class="card-block">
        <p>
          Criada em 21 de Dezembro de 2016, AMATURA município do Amazonas por Sebastião Braga e esposa Adriana Lira Braga com a finalidade de ajudar seus fidelizados.
        </p>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid">
    <div class="well well-sm card">
      <div class="card-header">
        <h2>Como funciona</h2>
      </div>

      <div class="card-block">
        <iframe src="/public/organograma%20RECARGA.pdf" width="100%" height="780" style="border: none;"></iframe>
      </div>
    </div>
  </div>

</div>
